In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

In [2]:
# Check for TensorFlow GPU access
print(f"TensorFlow has access to the following devices:\n{tf.config.list_physical_devices()}")

# See TensorFlow version
print(f"TensorFlow version: {tf.__version__}")

TensorFlow has access to the following devices:
[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU'), PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]
TensorFlow version: 2.8.0

In [3]:
df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

In [4]:
# Inspecting the data
df_train.shape

(891, 12)

In [5]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df_train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [7]:
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [8]:
# Empty check
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [10]:
empty = df_train.isnull().sum()
total = len(df_train.index)
for key, val in empty.items():
    print("{} has {}% missing values".format(key, val/total * 100))

PassengerId has 0.0% missing values
Survived has 0.0% missing values
Pclass has 0.0% missing values
Name has 0.0% missing values
Sex has 0.0% missing values
Age has 19.865319865319865% missing values
SibSp has 0.0% missing values
Parch has 0.0% missing values
Ticket has 0.0% missing values
Fare has 0.0% missing values
Cabin has 77.10437710437711% missing values
Embarked has 0.22446689113355783% missing values

In [11]:
# Preprocessing the data
df_train['Sex'].replace(['female', 'male'], [0, 1], inplace = True)
df_test['Sex'].replace(['female', 'male'], [0, 1], inplace = True)

In [12]:
df_train.drop('Name', axis = 1, inplace = True)
df_train.drop('Cabin', axis = 1, inplace = True)

df_test.drop('Name', axis = 1, inplace = True)
df_test.drop('Cabin', axis = 1, inplace = True)

In [13]:
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [14]:
df_train.fillna(0, inplace = True)

df_test.fillna(0, inplace = True)

In [15]:
empty = df_train.isnull().sum()
total = len(df_train.index)
for key, val in empty.items():
    print("{} has {}% missing values".format(key, val/total * 100))

PassengerId has 0.0% missing values
Survived has 0.0% missing values
Pclass has 0.0% missing values
Sex has 0.0% missing values
Age has 0.0% missing values
SibSp has 0.0% missing values
Parch has 0.0% missing values
Ticket has 0.0% missing values
Fare has 0.0% missing values
Embarked has 0.0% missing values

In [16]:
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [17]:
df_train['Embarked'].replace(['C', 'Q', 'S'], [0, 1, 2], inplace = True)

df_test['Embarked'].replace(['C', 'Q', 'S'], [0, 1, 2], inplace = True)

In [18]:
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked         int64
dtype: object

In [19]:
df_train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,1,22.0,1,0,A/5 21171,7.2500,2
1,2,1,1,0,38.0,1,0,PC 17599,71.2833,0
2,3,1,3,0,26.0,0,0,STON/O2. 3101282,7.9250,2
3,4,1,1,0,35.0,1,0,113803,53.1000,2
4,5,0,3,1,35.0,0,0,373450,8.0500,2

In [20]:
df_train.drop('Ticket', axis = 1, inplace = True)

df_test.drop('Ticket', axis = 1, inplace = True)

In [21]:
df_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked         int64
dtype: object

In [22]:
df_train.drop('PassengerId', axis = 1, inplace = True)

In [23]:
df_train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [25]:
x_train = df_train.drop('Survived', axis = 1).to_numpy()

In [26]:
y_train = df_train['Survived'].to_numpy()

array([[ 3.    ,  1.    , 22.    , ...,  0.    ,  7.25  ,  2.    ],
       [ 1.    ,  0.    , 38.    , ...,  0.    , 71.2833,  0.    ],
       [ 3.    ,  0.    , 26.    , ...,  0.    ,  7.925 ,  2.    ],
       ...,
       [ 3.    ,  0.    ,  0.    , ...,  2.    , 23.45  ,  2.    ],
       [ 1.    ,  1.    , 26.    , ...,  0.    , 30.    ,  0.    ],
       [ 3.    ,  1.    , 32.    , ...,  0.    ,  7.75  ,  1.    ]])

In [27]:
df_test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    1  34.5      0      0   7.8292         1
1          893       3    0  47.0      1      0   7.0000         2
2          894       2    1  62.0      0      0   9.6875         1
3          895       3    1  27.0      0      0   8.6625         2
4          896       3    0  22.0      1      1  12.2875         2

In [28]:
test = df_test.drop('PassengerId', axis = 1).to_numpy()

In [29]:
# Import train_test_split
from sklearn.model_selection import train_test_split

# Split the 'features' and 'income' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x_train, 
                                                    y_train, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

# Show the results of the split
print("Training set has {} samples.".format(X_train.shape[0]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 712 samples.
Testing set has 179 samples.

In [30]:
from sklearn.metrics import fbeta_score, accuracy_score
from time import time

def train_predict(learner, sample_size, X_train, y_train, X_test, y_test): 
    '''
    inputs:
       - learner: the learning algorithm to be trained and predicted on
       - sample_size: the size of samples (number) to be drawn from training set
       - X_train: features training set
       - y_train: income training set
       - X_test: features testing set
       - y_test: income testing set
    '''
    
    results = {}
    
    # TODO: Fit the learner to the training data using slicing with 'sample_size' using .fit(training_features[:], training_labels[:])
    start = time() # Get start time
    learner = learner.fit(X_train[:sample_size], y_train[:sample_size])
    end = time() # Get end time
    
    # TODO: Calculate the training time
    results['train_time'] = end - start
        
    # TODO: Get the predictions on the test set(X_test),
    #       then get predictions on the first 300 training samples(X_train) using .predict()
    start = time() # Get start time
    predictions_test = learner.predict(X_test)
    predictions_train = learner.predict(X_train)
    end = time() # Get end time
    
    # TODO: Calculate the total prediction time
    results['pred_time'] = end - start
            
    # TODO: Compute accuracy on the first 300 training samples which is y_train[:300]
    results['acc_train'] = accuracy_score(y_train, predictions_train)
        
    # TODO: Compute accuracy on test set using accuracy_score()
    results['acc_test'] = accuracy_score(y_test, predictions_test)
    
    # TODO: Compute F-score on the the first 300 training samples using fbeta_score()
    results['f_train'] = fbeta_score(y_train, predictions_train, beta = 0.5)
        
    # TODO: Compute F-score on the test set which is y_test
    results['f_test'] = fbeta_score(y_test, predictions_test, beta = 0.5)
       
    # Success
    print("{} trained on {} samples.".format(learner.__class__.__name__, sample_size))
        
    # Return the results
    return results

In [31]:
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression

# TODO: Initialize the three models
clf_A = SVC(random_state = 42)
clf_B = AdaBoostClassifier(random_state = 42)
clf_C = LogisticRegression(random_state = 42)

# TODO: Calculate the number of samples for 1%, 10%, and 100% of the training data
# HINT: samples_100 is the entire training set i.e. len(y_train)
# HINT: samples_10 is 10% of samples_100 (ensure to set the count of the values to be `int` and not `float`)
# HINT: samples_1 is 1% of samples_100 (ensure to set the count of the values to be `int` and not `float`)
samples = len(y_train)

# Collect results on the learners
results = []
for clf in [clf_A, clf_B, clf_C]:
    results.append(train_predict(clf, samples, X_train, y_train, X_test, y_test))

# Run metrics visualization for the three supervised learning models chosen
results

SVC trained on 712 samples.
AdaBoostClassifier trained on 712 samples.
LogisticRegression trained on 712 samples.

/Users/chris/miniconda3/envs/titanic-env/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

[{'train_time': 0.013957738876342773,
  'pred_time': 0.03526186943054199,
  'acc_train': 0.6797752808988764,
  'acc_test': 0.7206703910614525,
  'f_train': 0.5381165919282511,
  'f_test': 0.6476683937823834},
 {'train_time': 0.02806401252746582,
  'pred_time': 0.0054628849029541016,
  'acc_train': 0.8300561797752809,
  'acc_test': 0.8156424581005587,
  'f_train': 0.782543265613243,
  'f_test': 0.7657657657657658},
 {'train_time': 0.009641408920288086,
  'pred_time': 7.486343383789062e-05,
  'acc_train': 0.7879213483146067,
  'acc_test': 0.8156424581005587,
  'f_train': 0.7298985167837627,
  'f_test': 0.7593123209169055}]

In [32]:
predictions = clf_B.predict(test)

In [33]:
df_predictions = pd.DataFrame(predictions, columns=['Survived'], index=df_test['PassengerId'])

df_predictions.to_csv('predictions.csv')

In [35]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer
from sklearn.tree import DecisionTreeClassifier

clf = AdaBoostClassifier(base_estimator = DecisionTreeClassifier(), random_state = 42)

parameters = {'base_estimator__max_depth': [5, 10, 25, 50, 100], 'n_estimators':[5, 10, 25, 50, 75, 100, 150]}

scorer = make_scorer(fbeta_score, beta = 0.5)

grid_obj = GridSearchCV(estimator = clf, param_grid = parameters, scoring = scorer)

grid_fit = grid_obj.fit(X_train, y_train)

best_clf = grid_fit.best_estimator_

predictions = (clf.fit(X_train, y_train)).predict(X_test)
best_predictions = best_clf.predict(X_test)

# Report the before-and-afterscores
print("Unoptimized model\n------")
print("Accuracy score on testing data: {:.4f}".format(accuracy_score(y_test, predictions)))
print("F-score on testing data: {:.4f}".format(fbeta_score(y_test, predictions, beta = 0.5)))
print("\nOptimized Model\n------")
print("Final accuracy score on the testing data: {:.4f}".format(accuracy_score(y_test, best_predictions)))
print("Final F-score on the testing data: {:.4f}".format(fbeta_score(y_test, best_predictions, beta = 0.5)))

Unoptimized model
------
Accuracy score on testing data: 0.7821
F-score on testing data: 0.7207

Optimized Model
------
Final accuracy score on the testing data: 0.7821
Final F-score on the testing data: 0.7207

In [37]:
print('Is there a GPU Available:', tf.test.is_gpu_available())

WARNING:tensorflow:From /var/folders/fx/4xk4qzyx6s184pwwl260p0gr0000gn/T/ipykernel_1028/2194413379.py:1: is_gpu_available (from tensorflow.python.framework.test_util) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.list_physical_devices('GPU')` instead.
Is there a GPU Available: True

2022-02-13 10:19:59.617373: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-02-13 10:19:59.617449: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [98]:
model = tf.keras.Sequential([
    tf.keras.layers.InputLayer(input_shape=(7)),
    tf.keras.layers.Dense(units=256, activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(units=192, activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(units=128, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])
model.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_55 (Dense)            (None, 256)               2048

 dropout_20 (Dropout)        (None, 256)               0

 dense_56 (Dense)            (None, 192)               49344

 dropout_21 (Dropout)        (None, 192)               0

 dense_57 (Dense)            (None, 128)               24704

 dense_58 (Dense)            (None, 1)                 129

=================================================================
Total params: 76,225
Trainable params: 76,225
Non-trainable params: 0
_________________________________________________________________

In [99]:
X_train.shape

(712, 7)

y_train.shape

In [100]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

EPOCHS = 10

history = model.fit(X_train, y_train, epochs = 100)

Epoch 1/100
 8/23 [=========>....................] - ETA: 0s - loss: 1.2456 - accuracy: 0.5898

2022-02-13 10:46:31.043646: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

23/23 [==============================] - 0s 8ms/step - loss: 1.0209 - accuracy: 0.6124
Epoch 2/100
23/23 [==============================] - 0s 7ms/step - loss: 0.7781 - accuracy: 0.6334
Epoch 3/100
23/23 [==============================] - 0s 7ms/step - loss: 0.7430 - accuracy: 0.6447
Epoch 4/100
23/23 [==============================] - 0s 7ms/step - loss: 0.7106 - accuracy: 0.6390
Epoch 5/100
23/23 [==============================] - 0s 7ms/step - loss: 0.6568 - accuracy: 0.6503
Epoch 6/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6193 - accuracy: 0.6699
Epoch 7/100
23/23 [==============================] - 0s 7ms/step - loss: 0.6359 - accuracy: 0.6657
Epoch 8/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6194 - accuracy: 0.6742
Epoch 9/100
23/23 [==============================] - 0s 7ms/step - loss: 0.6043 - accuracy: 0.6545
Epoch 10/100
23/23 [==============================] - 0s 6ms/step - loss: 0.6133 - accuracy: 0.6713
Epoch 11/100
23/23 [==============================] - 0s 7ms/step - loss: 0.6016 - accuracy: 0.6868
Epoch 12/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5872 - accuracy: 0.7121
Epoch 13/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5905 - accuracy: 0.6938
Epoch 14/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5948 - accuracy: 0.6812
Epoch 15/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5675 - accuracy: 0.7191
Epoch 16/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5869 - accuracy: 0.7065
Epoch 17/100
23/23 [==============================] - 0s 7ms/step - loss: 0.6073 - accuracy: 0.7051
Epoch 18/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5618 - accuracy: 0.7261
Epoch 19/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5676 - accuracy: 0.7191
Epoch 20/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5735 - accuracy: 0.7051
Epoch 21/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5399 - accuracy: 0.7346
Epoch 22/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5269 - accuracy: 0.7458
Epoch 23/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5249 - accuracy: 0.7303
Epoch 24/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5288 - accuracy: 0.7598
Epoch 25/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5159 - accuracy: 0.7795
Epoch 26/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5190 - accuracy: 0.7486
Epoch 27/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5462 - accuracy: 0.7570
Epoch 28/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5337 - accuracy: 0.7739
Epoch 29/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5105 - accuracy: 0.7711
Epoch 30/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5121 - accuracy: 0.7626
Epoch 31/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5017 - accuracy: 0.7851
Epoch 32/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5079 - accuracy: 0.7725
Epoch 33/100
23/23 [==============================] - 0s 7ms/step - loss: 0.5095 - accuracy: 0.7711
Epoch 34/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5191 - accuracy: 0.7767
Epoch 35/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5124 - accuracy: 0.7514
Epoch 36/100
23/23 [==============================] - 0s 6ms/step - loss: 0.5071 - accuracy: 0.7711
Epoch 37/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4768 - accuracy: 0.7921
Epoch 38/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4875 - accuracy: 0.7697
Epoch 39/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4916 - accuracy: 0.7781
Epoch 40/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4891 - accuracy: 0.7753
Epoch 41/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4785 - accuracy: 0.7879
Epoch 42/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4927 - accuracy: 0.7837
Epoch 43/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4789 - accuracy: 0.7725
Epoch 44/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4968 - accuracy: 0.7739
Epoch 45/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4940 - accuracy: 0.7795
Epoch 46/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4746 - accuracy: 0.7823
Epoch 47/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4993 - accuracy: 0.7654
Epoch 48/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4874 - accuracy: 0.7795
Epoch 49/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4682 - accuracy: 0.7837
Epoch 50/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4682 - accuracy: 0.7781
Epoch 51/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4778 - accuracy: 0.7837
Epoch 52/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4889 - accuracy: 0.7893
Epoch 53/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4742 - accuracy: 0.7837
Epoch 54/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4591 - accuracy: 0.7921
Epoch 55/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4676 - accuracy: 0.7837
Epoch 56/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4789 - accuracy: 0.7921
Epoch 57/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4621 - accuracy: 0.8034
Epoch 58/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4738 - accuracy: 0.7865
Epoch 59/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4761 - accuracy: 0.7823
Epoch 60/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4689 - accuracy: 0.7963
Epoch 61/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4562 - accuracy: 0.8006
Epoch 62/100
23/23 [==============================] - 0s 8ms/step - loss: 0.4683 - accuracy: 0.7809
Epoch 63/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4700 - accuracy: 0.7879
Epoch 64/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4548 - accuracy: 0.7893
Epoch 65/100
23/23 [==============================] - 0s 8ms/step - loss: 0.4646 - accuracy: 0.8006
Epoch 66/100
23/23 [==============================] - 0s 8ms/step - loss: 0.4575 - accuracy: 0.7935
Epoch 67/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4476 - accuracy: 0.8006
Epoch 68/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4457 - accuracy: 0.7978
Epoch 69/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4438 - accuracy: 0.8006
Epoch 70/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4509 - accuracy: 0.7978
Epoch 71/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4633 - accuracy: 0.7879
Epoch 72/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4503 - accuracy: 0.8076
Epoch 73/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4504 - accuracy: 0.7978
Epoch 74/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4365 - accuracy: 0.8034
Epoch 75/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4351 - accuracy: 0.8034
Epoch 76/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4318 - accuracy: 0.8104
Epoch 77/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4406 - accuracy: 0.7963
Epoch 78/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4210 - accuracy: 0.8104
Epoch 79/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4563 - accuracy: 0.8104
Epoch 80/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4625 - accuracy: 0.7879
Epoch 81/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4365 - accuracy: 0.8188
Epoch 82/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4210 - accuracy: 0.8062
Epoch 83/100

23/23 [==============================] - 0s 7ms/step - loss: 0.4284 - accuracy: 0.8216
Epoch 84/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4337 - accuracy: 0.8188
Epoch 85/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4352 - accuracy: 0.8048
Epoch 86/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4219 - accuracy: 0.8104
Epoch 87/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4319 - accuracy: 0.8118
Epoch 88/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4403 - accuracy: 0.8020
Epoch 89/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4194 - accuracy: 0.8202
Epoch 90/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4098 - accuracy: 0.8202
Epoch 91/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4340 - accuracy: 0.8090
Epoch 92/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4232 - accuracy: 0.8132
Epoch 93/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4026 - accuracy: 0.8343
Epoch 94/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4194 - accuracy: 0.8258
Epoch 95/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4121 - accuracy: 0.8216
Epoch 96/100
23/23 [==============================] - 0s 8ms/step - loss: 0.4133 - accuracy: 0.8343
Epoch 97/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4018 - accuracy: 0.8315
Epoch 98/100
23/23 [==============================] - 0s 6ms/step - loss: 0.4164 - accuracy: 0.8244
Epoch 99/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4080 - accuracy: 0.8244
Epoch 100/100
23/23 [==============================] - 0s 7ms/step - loss: 0.4092 - accuracy: 0.8258

In [101]:
model.evaluate(X_test, y_test)

6/6 [==============================] - 0s 7ms/step - loss: 0.4261 - accuracy: 0.7933

2022-02-13 10:46:49.070803: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

[0.42611798644065857, 0.7932961583137512]

In [102]:
predictions_nn = model.predict(test)

2022-02-13 10:46:52.671499: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

In [103]:
predictions_nn

array([[1.89343959e-01],
       [1.77389622e-01],
       [5.20856753e-02],
       [1.85960263e-01],
       [4.26267922e-01],
       [2.11655498e-01],
       [5.01177549e-01],
       [1.74172074e-01],
       [6.44906282e-01],
       [7.17123523e-02],
       [1.01956502e-01],
       [3.23146820e-01],
       [9.63842213e-01],
       [1.86488837e-01],
       [9.91995454e-01],
       [8.83425117e-01],
       [2.38098547e-01],
       [2.29973122e-01],
       [4.43246663e-01],
       [1.93428844e-01],
       [3.27072263e-01],
       [3.82403225e-01],
       [9.37981248e-01],
       [3.65675300e-01],
       [5.10816991e-01],
       [1.33704543e-01],
       [9.35614049e-01],
       [2.49765560e-01],
       [3.62933010e-01],
       [9.69814062e-02],
       [1.72148034e-01],
       [1.11271419e-01],
       [4.23269123e-01],
       [6.49674177e-01],
       [3.72394443e-01],
       [2.09229037e-01],
       [1.88095301e-01],
       [7.27414131e-01],
       [1.20616868e-01],
       [3.96405548e-01],
       [1.86920866e-01],
       [4.06218857e-01],
       [1.52891904e-01],
       [8.70968699e-01],
       [9.87201989e-01],
       [1.86241001e-01],
       [3.26125473e-01],
       [1.52535528e-01],
       [9.90948141e-01],
       [5.50340533e-01],
       [3.99108857e-01],
       [2.31545463e-01],
       [6.02605641e-01],
       [7.41676152e-01],
       [5.56303561e-01],
       [8.86700749e-02],
       [2.05313846e-01],
       [2.05506638e-01],
       [1.59734011e-01],
       [7.87573457e-01],
       [1.50495127e-01],
       [1.68596655e-01],
       [1.40770033e-01],
       [6.51144683e-01],
       [6.91443443e-01],
       [9.41630363e-01],
       [6.94538176e-01],
       [3.90985906e-01],
       [3.73374373e-01],
       [5.19065976e-01],
       [6.14294112e-01],
       [1.31018996e-01],
       [5.89479268e-01],
       [3.79305214e-01],
       [7.58156896e-01],
       [3.05967748e-01],
       [1.07321113e-01],
       [6.73952401e-01],
       [1.56810239e-01],
       [6.14294112e-01],
       [5.88706076e-01],
       [2.90751994e-01],
       [3.13783824e-01],
       [1.01956502e-01],
       [4.36108500e-01],
       [2.41162062e-01],
       [5.73340476e-01],
       [7.34088004e-01],
       [8.94963562e-01],
       [7.83306658e-01],
       [5.33802092e-01],
       [9.70040932e-02],
       [9.45087910e-01],
       [1.07321113e-01],
       [3.81872028e-01],
       [1.95298970e-01],
       [9.89166200e-01],
       [2.45290741e-01],
       [7.24553525e-01],
       [2.24999413e-01],
       [9.68449175e-01],
       [1.58993840e-01],
       [1.52535528e-01],
       [2.20077038e-01],
       [4.65411842e-01],
       [1.58858687e-01],
       [1.63317531e-01],
       [1.52535528e-01],
       [1.27942383e-01],
       [1.65295526e-01],
       [2.30393171e-01],
       [8.95764828e-01],
       [9.48340893e-01],
       [6.85610831e-01],
       [9.58649874e-01],
       [1.55461296e-01],
       [1.55819714e-01],
       [8.56321037e-01],
       [3.87941867e-01],
       [8.90247405e-01],
       [9.48487341e-01],
       [1.10468924e-01],
       [9.72940683e-01],
       [2.51492500e-01],
       [1.52535528e-01],
       [8.43455434e-01],
       [1.38331354e-01],
       [5.50461113e-01],
       [2.21275866e-01],
       [1.53871909e-01],
       [2.32031375e-01],
       [2.92281121e-01],
       [1.67324226e-02],
       [1.15585104e-01],
       [1.37682468e-01],
       [1.66035682e-01],
       [2.36968100e-01],
       [1.34374321e-01],
       [7.00838208e-01],
       [1.56213030e-01],
       [1.62861958e-01],
       [9.30310905e-01],
       [1.21680543e-01],
       [2.91411817e-01],
       [3.40957046e-01],
       [2.11127885e-02],
       [4.08814967e-01],
       [1.31974235e-01],
       [4.06218857e-01],
       [1.32706255e-01],
       [8.76945138e-01],
       [2.11521164e-01],
       [2.09998917e-02],
       [5.53654194e-01],
       [1.23763986e-01],
       [1.86996892e-01],
       [8.50561619e-01],
       [6.91480219e-01],
       [3.40957046e-01],
       [5.68316042e-01],
       [8.94502938e-01],
       [5.23096621e-01],
       [8.72551024e-01],
       [6.85395002e-02],
       [2.25548014e-01],
       [6.02994144e-01],
       [3.71646732e-01],
       [2.18653813e-01],
       [8.59638870e-01],
       [7.26886332e-01],
       [8.78074914e-02],
       [2.31925249e-01],
       [7.03495368e-02],
       [1.83512494e-01],
       [9.81756374e-02],
       [9.22092080e-01],
       [9.85730290e-01],
       [3.20641309e-01],
       [8.53153527e-01],
       [9.62059796e-01],
       [1.56810239e-01],
       [3.15744817e-01],
       [9.78025854e-01],
       [1.52535528e-01],
       [7.74522483e-01],
       [2.34742776e-01],
       [9.30080712e-01],
       [1.37461275e-01],
       [4.11504088e-03],
       [2.28427529e-01],
       [1.47949725e-01],
       [4.08616602e-01],
       [3.22224706e-01],
       [7.82103017e-02],
       [7.30051994e-01],
       [2.23224476e-01],
       [6.64545357e-01],
       [7.32686460e-01],
       [1.40149847e-01],
       [1.98205471e-01],
       [9.35151398e-01],
       [8.84183273e-02],
       [1.82356507e-01],
       [8.81598413e-01],
       [1.48383453e-01],
       [4.45834786e-01],
       [4.11686867e-01],
       [1.43725395e-01],
       [9.40167189e-01],
       [1.88269004e-01],
       [1.45187393e-01],
       [7.01246262e-02],
       [3.91285598e-01],
       [7.32780576e-01],
       [2.44910702e-01],
       [4.14320588e-01],
       [8.98231387e-01],
       [2.83644766e-01],
       [6.91323698e-01],
       [1.07321113e-01],
       [5.77601194e-01],
       [1.27883077e-01],
       [8.66419971e-01],
       [1.33526281e-01],
       [8.57292235e-01],
       [4.16583717e-01],
       [1.47553563e-01],
       [8.94963562e-01],
       [1.62653849e-01],
       [2.22693190e-01],
       [4.22041148e-01],
       [9.86650467e-01],
       [1.84807017e-01],
       [1.56868502e-01],
       [3.67135555e-01],
       [1.30333200e-01],
       [3.23553979e-01],
       [2.18110487e-01],
       [6.57351792e-01],
       [9.82377708e-01],
       [8.56364965e-01],
       [7.61657298e-01],
       [2.33874097e-01],
       [1.01640731e-01],
       [7.68813610e-01],
       [3.94924015e-01],
       [9.56854880e-01],
       [1.66777194e-01],
       [8.90247405e-01],
       [8.24534535e-01],
       [7.70935833e-01],
       [1.29376248e-01],
       [2.78449178e-01],
       [1.17288783e-01],
       [2.26213709e-01],
       [8.78074914e-02],
       [1.52535528e-01],
       [2.44486794e-01],
       [9.04434502e-01],
       [1.34060130e-01],
       [5.12732491e-02],
       [1.32044092e-01],
       [8.37616622e-01],
       [8.05536211e-01],
       [2.37144515e-01],
       [1.01956502e-01],
       [2.79630854e-04],
       [8.78074914e-02],
       [1.88095301e-01],
       [1.50324658e-01],
       [3.96881104e-01],
       [1.52535528e-01],
       [7.31471717e-01],
       [8.92020047e-01],
       [1.83354259e-01],
       [9.36439574e-01],
       [1.79256693e-01],
       [1.36073366e-01],
       [9.77575183e-02],
       [1.41308174e-01],
       [7.20641434e-01],
       [7.73031294e-01],
       [8.94963562e-01],
       [6.33041799e-01],
       [8.82509947e-01],
       [1.86888576e-01],
       [7.67746568e-02],
       [3.48133951e-01],
       [1.83512494e-01],
       [1.07321113e-01],
       [3.80431384e-01],
       [4.66334254e-01],
       [1.83512494e-01],
       [3.67468953e-01],
       [2.15016648e-01],
       [2.12069079e-01],
       [7.68045485e-01],
       [9.69814062e-02],
       [4.62823033e-01],
       [2.45581269e-01],
       [2.30260953e-01],
       [5.58780313e-01],
       [2.01814219e-01],
       [1.32115170e-01],
       [8.94963562e-01],
       [7.89270461e-01],
       [2.92340457e-01],
       [1.76974982e-01],
       [3.75229567e-01],
       [4.30438787e-01],
       [1.40488058e-01],
       [2.44959369e-01],
       [8.87993127e-02],
       [3.72562110e-01],
       [9.91973758e-01],
       [7.01057315e-01],
       [3.06340337e-01],
       [1.51241243e-01],
       [2.37550139e-01],
       [1.12834856e-01],
       [2.20077038e-01],
       [2.50776410e-01],
       [1.34374321e-01],
       [3.80101740e-01],
       [8.54296386e-01],
       [1.97565645e-01],
       [7.57393360e-01],
       [3.99805933e-01],
       [1.57139301e-01],
       [1.47402108e-01],
       [8.28170776e-01],
       [3.46638680e-01],
       [1.83354259e-01],
       [5.06659389e-01],
       [2.34611735e-01],
       [3.89007360e-01],
       [1.73822224e-01],
       [1.16225809e-01],
       [3.73924345e-01],
       [1.83512494e-01],
       [1.57481238e-01],
       [2.28371158e-01],
       [7.28333712e-01],
       [8.71058524e-01],
       [6.83994532e-01],
       [7.50332236e-01],
       [1.34374321e-01],
       [2.85178632e-01],
       [1.37311548e-01],
       [9.15461004e-01],
       [9.75415230e-01],
       [1.48383453e-01],
       [3.84554654e-01],
       [3.01228076e-01],
       [6.09746456e-01],
       [3.11350912e-01],
       [9.18012381e-01],
       [1.01325847e-01],
       [1.52535528e-01],
       [5.04801869e-01],
       [5.78368735e-03],
       [8.57548416e-01],
       [9.15461004e-01],
       [1.85960263e-01],
       [9.58966553e-01],
       [5.52326322e-01],
       [2.41217986e-01],
       [9.79947209e-01],
       [9.70275819e-01],
       [2.32937530e-01],
       [9.01450589e-02],
       [8.71803761e-01],
       [4.55651283e-02],
       [2.11111233e-01],
       [9.91203785e-01],
       [7.49268770e-01],
       [4.28481638e-01],
       [1.43290326e-01],
       [3.80108476e-01],
       [4.44971830e-01],
       [1.52535528e-01],
       [2.41757438e-01],
       [9.22629058e-01],
       [6.57018244e-01],
       [3.67466629e-01],
       [8.75797391e-01],
       [1.71239495e-01],
       [1.20411023e-01],
       [1.65419206e-01],
       [2.79275268e-01],
       [3.59339625e-01],
       [9.47545290e-01],
       [5.53956091e-01],
       [1.53432831e-01],
       [2.91767642e-02],
       [9.72794831e-01],
       [2.40176007e-01],
       [9.67103362e-01],
       [1.38868630e-01],
       [2.21251965e-01],
       [8.74812424e-01],
       [9.70909372e-02],
       [9.40124214e-01],
       [4.45325255e-01],
       [2.65367746e-01],
       [2.46019199e-01],
       [8.76357928e-02],
       [1.65174931e-01],
       [8.94156933e-01],
       [8.59056115e-01],
       [8.94963562e-01],
       [9.83643711e-01],
       [5.98426521e-01],
       [1.07321113e-01],
       [9.81833279e-01],
       [1.64825767e-01],
       [1.07321113e-01],
       [7.31244266e-01]], dtype=float32)

In [115]:
predictions_nn_0_1 = map(lambda x: 0 if x <= 0.5 else 1, predictions_nn)

In [116]:
df_predictions_nn = pd.DataFrame(predictions_nn_0_1, columns=['Survived'], index=df_test['PassengerId'])

df_predictions_nn.to_csv('predictions_nn.csv')